@model MaxFactry.Base.PresentationLayer.MaxBaseIdViewModel


<h1>Quickbooks Management</h1>
<div class="bg-success">@ViewBag.Message</div>



@section ScriptSection
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('.tooltipactive').tooltip({ container: 'body' });
        });
    </script>

}
