<li>@Html.ActionLink("Quickbooks", "Index", "MaxQuickbooksProviderManage", routeValues: null, htmlAttributes: new { id = "udQuickbooksProviderNavLink" })</li>
<li>@Html.ActionLink("Request", "Request", "MaxQuickbooksProviderManage", routeValues: null, htmlAttributes: new { id = "udQuickbooksProviderRequestNavLink" })</li>
<li>@Html.ActionLink("Customer", "Customer", "MaxQuickbooksProviderManage", routeValues: null, htmlAttributes: new { id = "udQuickbooksProviderCustomerNavLink" })</li>
